pkgbase = gomclauncher
	pkgdesc = A Minecraft Launcher
	pkgver = 1.4.12
	pkgrel = 1
	url = https://github.com/xmdhs/gomclauncher
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	conflicts = gomclauncher-bin
	source = gomclauncher-1.4.12.tar.gz::https://github.com/xmdhs/gomclauncher/archive/v1.4.12.tar.gz
	source = https://raw.githubusercontent.com/xmdhs/gomclauncher/v1.4.12/LICENSE
	sha256sums = e623135005f87feed517cbbdc6e8b30a83d17113a3b25c02a1c696cbc3b886a9
	sha256sums = 9c9c42c8f4534fe4e44fb26b1e3df7b133fbafbb2f72563653d4f33ecf948fa9

pkgname = gomclauncher
