pkgbase = gomclauncher
	pkgdesc = A Minecraft Launcher
	pkgver = 1.4.7
	pkgrel = 1
	url = https://github.com/xmdhs/gomclauncher
	arch = x86_64
	arch = i386
	license = MIT
	makedepends = go
	depends = glibc
	source = gomclauncher-1.4.7.tar.gz::https://github.com/xmdhs/gomclauncher/archive/v1.4.7.tar.gz
	source = https://raw.githubusercontent.com/xmdhs/gomclauncher/v1.4.7/LICENSE
	sha256sums = eff08cf28460e72f691c4f6d2e773418436a5b1d0cbfe0991bd40fa62815afa9
	sha256sums = 9c9c42c8f4534fe4e44fb26b1e3df7b133fbafbb2f72563653d4f33ecf948fa9

pkgname = gomclauncher
