pkgbase = hyfetch
	pkgdesc = Neofetch with LGBTQ pride flags!
	pkgver = 1.4.4
	pkgrel = 1
	url = https://github.com/hykilpikonna/hyfetch
	arch = any
	license = MIT
	depends = bash
	depends = python-setuptools
	depends = python-typing_extensions
	optdepends = catimg: Display Images
	optdepends = chafa: Image to text support
	optdepends = feh: Wallpaper Display
	optdepends = imagemagick: Image cropping / Thumbnail creation / Take a screenshot
	optdepends = jp2a: Display Images
	optdepends = libcaca: Display Images
	optdepends = nitrogen: Wallpaper Display
	optdepends = w3m: Display Images
	optdepends = xdotool: See https://github.com/dylanaraps/neofetch/wiki/Images-in-the-terminal
	optdepends = xorg-xdpyinfo: Resolution detection (Single Monitor)
	optdepends = xorg-xprop: Desktop Environment and Window Manager
	optdepends = xorg-xrandr: Resolution detection (Multi Monitor + Refresh rates)
	optdepends = xorg-xwininfo: See https://github.com/dylanaraps/neofetch/wiki/Images-in-the-terminal
	conflicts = hyfetch
	source = hyfetch-1.4.4.tar.gz::https://github.com/hykilpikonna/hyfetch/archive/1.4.4.tar.gz
	sha256sums = c46cf6e87c2cb708d5ee06e56e6b656397a4076f9f3acb774b3348f205283215

pkgname = hyfetch
