pkgbase = gomclauncher-bin
	pkgdesc = A Minecraft Launcher
	pkgver = 1.4.13
	pkgrel = 1
	url = https://github.com/xmdhs/gomclauncher
	arch = x86_64
	license = MIT
	conflicts = gomclauncher
	source = https://github.com/xmdhs/gomclauncher/releases/download/v1.4.13/gml-linux.gz
	source = https://raw.githubusercontent.com/xmdhs/gomclauncher/v1.4.13/LICENSE
	sha256sums = 2eef429bc743b6de87cd9cb35b67414887cda6db1b2a6f832208c5b9ade335a9
	sha256sums = 9c9c42c8f4534fe4e44fb26b1e3df7b133fbafbb2f72563653d4f33ecf948fa9

pkgname = gomclauncher-bin
