pkgbase = nct6687-dkms-git
	pkgdesc = Linux kernel module for Nuvoton NCT6687-R
	pkgver = r49.15d09bd
	pkgrel = 1
	url = https://github.com/Fred78290/nct6687d
	arch = any
	license = GPL2
	makedepends = git
	depends = dkms
	provides = nct6687
	conflicts = nct6687
	source = nct6687::git+https://github.com/Fred78290/nct6687d.git#branch=main
	source = dkms.conf
	sha256sums = SKIP
	sha256sums = 41a08607723dcee908d7bc06496cfe7a982fd39e5be132895bd597be0d272e79

pkgname = nct6687-dkms-git
