pkgbase = nct6687-dkms-git
	pkgdesc = Linux kernel module for Nuvoton NCT6687-R
	pkgver = r53.4abe624
	pkgrel = 1
	url = https://github.com/Fred78290/nct6687d
	arch = any
	license = GPL2
	makedepends = git
	depends = dkms
	provides = nct6687
	conflicts = nct6687
	source = nct6687::git+https://github.com/Fred78290/nct6687d.git#branch=main
	source = dkms.conf
	sha256sums = SKIP
	sha256sums = 7088f4887cca0c697aa3ba53520702227a5737a83599cf704ae3c6a57905bbdb

pkgname = nct6687-dkms-git
